<!DOCTYPE html>

<head>
    <title>E-Commerce</title>
    
</head>

<body>
    <h1>[boilerplate layout]</h1>
    
    <% include ./partials/navbar %>
    
    <%- body -%>
    
    <% include ./partials/footer %>
    
</body>

</html>