<% layout('layout') -%>

<h1>Johnson Shop</h1>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>BUY BUY BUY</h1>
        <p>Get out those wallets and make it rain on me.</p>
        <p><a class="btn btn-primary btn-lg" href="accounts/signup" role="button">Signup &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Start your search</h2>
          <p>Woohoo</p>
        </div>
        <div class="col-md-4">
          <h2>Look for stuffs</h2>
          <p>Yessss</p>
       </div>
        <div class="col-md-4">
          <h2>Cart City</h2>
          <p>Aint no Mario Kart</p>
        </div>
      </div>